<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static 'joki.css'%}">
  
  <title>Joki</title>
</head>
<body>
  <nav class="wrapper">
    <div class="brand">
      <div class="fname">
        <p>Joki</p>
      </div>
      <div class="lname">
        <p>My</p>
        nse
      </div>
    </div>
    <ul class="navigation">
      <li><a href="/">beranda</a></li>
      <li><a href="/" class="active">pilihan</a></li>
      <li><a href="/">top up</a></li>
      <li><img src="aset/logo.png" alt="..." /></li>
    </ul>
  </nav>
  <!-- ini main utama -->
  <section>
    <div class="main-border">
      <div class="left-box">
        <div class="left-box-content">
          <img src="aset/mobile_legend 2.png" alt="...">
          <p>Jasa Joki Mobile Legend Auto Win streak termurah</p>
          <p>Cara Order Joki MLBB Termurah:</p>
          <div class="list">
            <ol>
              <li>Input data akun</li>
              <li>pilih paket</li>
              <li>Masukkan jumlah</li>
              <li>pilih pembayaran</li>
              <li>Tulis No WhatsApps</li>
              <li>Klik Order Now & lakukan pembayaran</li>
              <li>Silahkan tunggu tim kami akan memproses jokian Anda</li>
            </ol>
          </div>
          <div class="list-judul">
            <p>Rules Joki</p>
          </div>
          <div class="list">
            <ol>
              <li>Matikan centang verify di pengaturan ML</li>
              <li>
                Jika login 3x selama proses joki berlangsung maka dianggap
                selesai dan uang tidak bisa kembali
              </li>
            </ol>
          </div>
        </div>
      </div>
      <!-- bagian PErbintang -->
      <div class="border-data">
        <div class="lengkapi">
          <p>Lengkapi Data</p>
        </div>
        <div class="formulir">
          <input type="type" name="user id" id="user id" class="form-control" placeholder="Masukkan Email">
          <input type="type" name="user id" id="user id" class="form-control" placeholder="Masukkan password">
        </div>
        <div class="formulir">
          <input type="type" name="user id" id="user id" class="form-control" placeholder="Minimal Request 3 Hero">
          <input type="type" name="user id" id="user id" class="form-control" placeholder="Catatan Untuk Penjoki">
        </div>
        <div class="formulir">
          <input type="type" name="user id" id="user id" class="form-control" placeholder="Nickname (Nama ML)">
          <select>
            <option>Login Via</option>
            <option>Moonton (rekomendasi)</option>
            <option>VK (rekomendasi)</option>
            <option>Facebook</option>
            <option>Tiktok</option>
          </select>
        </div>
        <div class="lengkapib">
          <p>Joki Satuan</p>
        </div>
        <!-- bagian pilih nominal -->
        <div class="border-paretns">
          <div class="nominal">
            <h3>Pilih Nominal</h3>
          </div>
          <div class="top-bintang">
            <h3>Top Up</h3>
          </div>
          <div class="border-order">
            <div class="card">
              <h3>Master / Bintang</h3>
              <p>Rp. 4.000</p>
            </div>
            <div class="card">
              <h3>GM / Bintang</h3>
              <p>Rp. 5.000</p>
            </div>
            <div class="card">
              <h3>Epic / Bintang</h3>
              <p>Rp. 7.000</p>
            </div>
            <div class="card">
              <h3>Legend / Bintang</h3>
              <p>Rp. 9.000</p>
            </div>
            <div class="card">
              <h3>Mytic placement (Grading)</h3>
              <p>Rp. 20.000</p>
            </div>
            <div class="card">
              <h3>Mytic 1-25 / bintang</h3>
              <p>Rp. 20.000</p>
            </div>
            <div class="card">
              <h3>Mytical Honor 25-50 / bintang</h3>
              <p>Rp. 20.000</p>
            </div>
            <div class="card">
              <h3>Mytical Glory 50-100 / bintang</h3>
              <p>Rp. 20.000</p>
            </div>
            <div class="card">
              <h3>Mytic Immortal / bintang</h3>
              <p>Rp. 20.000</p>
            </div>
          </div>
        </div>
        <!-- ini bagian jumlah bintang yang dipesan -->
        <div class="border-parents2">
          <div class="jumlah-win">
            <p>Masukkan Jumlah (bintang/win)</p>
          </div>
          <div class="formulir2">
            <input type="number" name="user id" id="user id" class="form-control" placeholder="1">
          </div>
          <div class="minimal-order">
            <p>Minimal Order untuk Master,GM,Legend,mytic = 3 Bintang, dan untuk Joki Classic = 5 win. Jika kurang dari minimal Orderan, Uang akan Hangus</p>
          </div>
        </div>
        <div class="wa">
          <h2>Nomor Whatsapp</h2>
          <div class="transaksi">
            <input type="type" name="user id" id="user id" class="form-control" placeholder="Masukkan No Whatsapp kamu">
          </div>
        </div>
        <button class="notification-btn">Pesan sekarang</button>
      </div>
  </section>
  <footer>
    <div class="footerContainer">
      <div class="sosialIcon">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div class="footerNav">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">News</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Our Team</a></li>
        </ul>
      </div>
      <div class="footerBottom">
        <p>
          Copyright &copy;2023; Design by
          <span class="designer">JokiWithMynse</span>
        </p>
      </div>
    </div>
  </footer>
</body>
</html>